#main {
  margin: 20px;
  border: 2px solid rgb(255, 255, 255);
  height: 380px;
  border-radius: 10px;
  width: max-content;
}
img {
  border-radius: 10px 10px 0px 0px;
}
#h2 {
  background: #000;
  border: 1px solid black;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 690px;
  top: 385px;
  border-radius: 50%;
  font-size: 15px;
  color: white;
}

#h21 {
  background: #000;
  color: white;
  border: 1px solid black;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 740px;
  top: 385px;
  border-radius: 50%;
  font-size: 15px;
}
#h22 {
  color: white;
  background: #000;
  border: 1px solid black;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 790px;
  top: 385px;
  border-radius: 50%;
  font-size: 15px;
}
#h23 {
  color: white;
  background: #000;
  border: 1px solid black;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 840px;
  top: 385px;
  border-radius: 50%;
  font-size: 15px;
}
#btn {
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 670px;
  top: 400px;
}

#btn1 {
  background: #000;
  position: absolute;
  top: 400px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  left: 720px;
  justify-content: center;
  align-items: center;
}
#btn2 {
  background: #000;
  position: absolute;
  top: 400px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  left: 770px;
  justify-content: center;
  align-items: center;
}
#btn3 {
  background: #000;
  position: absolute;
  top: 400px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  left: 820px;
  justify-content: center;
  align-items: center;
}
.fa-regular,
.fa-solid {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
