<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="/Project/index.html"><img src="/Project/components/1.png" alt="" width="50px" height="50px"> </a>
      <button
        class="navbar-toggler text-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon bg-danger"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/Project/index.html"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Project/html/Products.html">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Project/html/AddProducts.html"
              >Add Product</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Project/html/Cart.html">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Project/html/Login.html">${login}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/Project/html/SignUp.html">${Signup}</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-light" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>