.div{
    border: 1px solid;
    height: max-content;
    width: 350px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
#display{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
