body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/789/451/non_2x/abstract-black-friday-wallpaper-luxury-background-template-color-art-template-business-dark-vector.jpg");
  background-size: 100%;
  background-repeat: repeat;
  object-fit: fill;
}
#Blur {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
